# SPDX-FileCopyrightText: 2021 Jeff Epler
#
# SPDX-License-Identifier: GPL-3.0-only

include README.*
include TODO.txt
include examples/*.nw
include novelwriting/*.py
include novelwriting/gram.g
exclude novelwriting/gram.py
include scripts/*
include setup.py
